<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css.css">
  <title>List</title>
</head>
<body>
  <div class="bg">
    <table>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Created at</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt }}</td>
      </tr>
      {% endfor %}
    </table> 
  </div>
</body>
</html>